{% extends 'base/layout.html' %}
{% block title %} Профиль {% endblock %}


{% block header %}<h1>Profile</h1>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding: 20px 0 20px 20px">

{#                    <div class="card-body">#}
{#                        <div class="card-title mb-4">#}
{#                            <p><a class='button ms_booking' href="{% url 'profiles:profile_update' pk=user.id %}">Update#}
{#                                profile</a></p>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                     aria-labelledby="basicInfo-tab">


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Логин</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.username }}
                                        </div>
                                    </div>
                                    <hr/>

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Имя</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.first_name }}
                                        </div>
                                    </div>
                                    <hr/>


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.email }}
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                                     aria-labelledby="ConnectedServices-tab">
                                    Facebook, Google, Twitter Account that are connected to this account
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}

