{% extends 'base/layout.html' %}
{% block title %} О нас {% endblock %}
{% load static %}

{% block content %}
    <section class="about about--inner">
        <header class="about__header">
            <h1 class="about__title">Добро пожаловать в&nbsp;Наше дело</h1>
        </header>

        <div class="about__content">
            <div class="about__image about__image--inner">
                <img height="600" width="450" src="{% static 'img/man2.jpeg' %}" alt="Барбершоп Наше дело интерьер">
            </div>

            <p class="about__description">
                НАШЕ ДЕЛО — &nbsp;барбершоп для истинных мужчин. Вдохновленные британской историей и традициями, мы
                создали место, где чтут классическую<br>
                старую школу мужских стрижек и брадобрейства. Место, где любой, от ребенка до солидного мужчины, найдет
                то, что<br>
                ищет. Дружескую атмосферу, когда тебя встречают как старого приятеля. Возможность поговорить по душам за
                чашкой хорошего<br>
                чая или чего покрепче. И, конечно, аккуратную стрижку, блестящее оформление бороды или ритуал
                королевского бритья.
            </p>

            <p class="about__description">
                Кстати, это то, в чем мы действительно разбираемся. У нас есть опыт, благодаря
                которому мы уверенно подскажем, какой стиль<br>
                прически и средства подходят именно вам. В вашем распоряжении целый арсенал отборной мужской косметики,
                которая поможет<br>
                «держать марку» между визитами в НАШЕ ДЕЛО. Дружеский совет: найдите своего барбера и доверьтесь ему. Он
                не подведет, обещаем.
            </p>

            <p class="about__description">
                Каждый мужчина не просто наш клиент, он наш друг и нам не всё равно как он
                выглядит. Его внешность это наше дело. <br> В барбершопе Наше дело нет пафоса. Здесь ценят простые вещи.
                Порядочность. Преданность. Самоиронию. А в своих гостях мы видим<br>
                прежде всего личность. И все что мы делаем – отражаем ее наилучшим образом.
            </p>
            <p class="about__description"><em>НАШЕ ДЕЛО</em> — барбершоп по‑настоящему.</p>
        </div>
    </section>
{% endblock %}
