{% extends 'base/layout.html' %}
{% block title %} Main Page {% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <header class="main-header">

            <div class="main-header__border"></div>

            <div class="contacts">
                <p class="contacts__phone">
                    <a href="tel:+375296396000">+375 29 111 11 11</a>
                </p>
                <p class="contacts__address">Минск, пр-т Независимости, 46<br>ежедневно с 10 до 22</p>
            </div>

            <div class="logo">
                <div class="logo__image">
                    <img src="{% static 'img/logo.png' %}" alt="Наше дело Logo">
                </div>
            </div>

            <div class="caption">
                <div class="caption__content">
                    <p class="caption__subtitle">Барбершоп по‑настоящему</p>
                    <h1 class="caption__title">Стрижки<br>&amp;<br>Бритьё</h1>
                    {% if request.user.is_authenticated %}
                        <a class="button ms_booking" href="{% url 'online_entry:choose_service' %}">Запись онлайн</a>
                    {% else %}
                        <a class="button ms_booking" href="{% url 'website.login:index' %}">Запись онлайн</a>
                    {% endif %}
                </div>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>


                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img height="600" width="600" class="d-block w-100" src="{% static 'img/header-bg-l.jpg' %}"
                             alt="First slide">
                    </div>

                    <div class="carousel-item">
                        <img height="600" width="600" class="d-block w-100" src="{% static 'img/boroda.jpg' %}"
                             alt="Second slide">
                    </div>

                    <div class="carousel-item">
                        <img height="600" width="600" class="d-block w-100" src="{% static 'img/head_bg2.jpg' %}"
                             alt="Third slide">
                    </div>

                    <div class="carousel-item">
                        <img height="600" width="600" class="d-block w-100" src="{% static 'img/bg-top.png' %}"
                             alt="Fourth slide">
                    </div>

                </div>

                <a class="carousel-control-prev" href="#" role="button" data-slide="prev"
                   data-interval="10000">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </header>
    </div>
{% endblock %}