<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{% url 'home:index' %}">Barbershop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about:index' %}">О нас<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'services:index' %}">Услуги<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'staff:index' %}">Команда<span
                            class="sr-only">(current)</span></a>
                </li>
                {#                <li class="nav-item active">#}
                {#                    <a class="nav-link" href="{% url 'website:contact_main' %}">Контакты<span#}
                {#                            class="sr-only">(current)</span></a>#}
                {#                </li>#}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profiles:profile_details' %}">Личные данные<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sessions:index' %}">Мои записи<span
                            class="sr-only">(current)</span></a>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about:index' %}">О нас<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'services:index' %}">Услуги<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'staff:index' %}">Команда<span
                            class="sr-only">(current)</span></a>
                </li>
                {#                <li class="nav-item active">#}
                {#                    <a class="nav-link" href="{% url 'contacts:index' %}">Контакты<span#}
                {#                            class="sr-only">(current)</span></a>#}
                {#                </li>#}
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:index' %}">Войти<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register:index' %}">Зарегистрироваться<span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
