{% extends 'base/layout.html' %}
{% block title %} Услуги {% endblock %}
{#{% load static %}#}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding: 10px 0 10px 10px">
                    <h3 style="color: black"> Выберите услугу </h3>
                    <form action="" method="post">
                        {% csrf_token %}

                        <ul class="mdc-list" role="group" aria-label="List with checkbox items">
                            {% for service in services %}
                                <li class="mdc-list-item" role="checkbox" aria-checked="false">
                                    <span class="mdc-list-item__graphic">
                                      <div class="mdc-checkbox">
                                        <input type="checkbox" name="services[]" value="{{ service.id }}"
                                               class="mdc-checkbox__native-control"
                                               id="demo-list-checkbox-item-{{ service.id }}"/>
                                        <div class="mdc-checkbox__background">
                                          <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path" fill="none"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                          </svg>
                                          <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                      </div>
                                    </span>

                                    <label class="mdc-list-item__text"
                                           for="demo-list-checkbox-item-{{ service.id }}">{{ service.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>

                        <button style="margin-top: 20px"  type="submit" class="button">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}