{% extends "base/layout.html" %}
{% block title %} Мастера {% endblock %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding: 10px 0 10px 10px">
                    <h3 style="color: black"> Выберите мастера </h3>

                    <form action="" method="post">
                        {% csrf_token %}

                        {% for st in staff %}
                            <div class="mdc-form-field">
                                <div class="mdc-radio">
                                    <input class="mdc-radio__native-control" type="radio" id="radio-{{ st.id }}"
                                           name="staff" value="{{ st.id }}" checked>
                                    <div class="mdc-radio__background">
                                        <div class="mdc-radio__outer-circle"></div>
                                        <div class="mdc-radio__inner-circle"></div>
                                    </div>
                                </div>
                                <label for="radio-{{ st.id }}">{{ st.name }}</label>
                            </div>
                            <br>
                        {% endfor %}

                        <button style="margin-top: 20px" type="submit" class="button">Записаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}