{% extends 'base/layout.html' %}
{% block title %} Мои записи {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Услуга</th>
                            <th scope="col">Мастер</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for entry in entries %}
                            <form id="form_{{ forloop.counter }}" action="{% url 'sessions:delete' %}" method="post">
                                {% csrf_token %}
                                <input form="form_{{ forloop.counter }}" type="hidden" name="service_id"
                                       value="{{ entry.service.id }}">
                                <input form="form_{{ forloop.counter }}" type="hidden" name="staff_id"
                                       value="{{ entry.staff.id }}">
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ entry.service.name }}</td>
                                    <td>{{ entry.staff.name }}</td>
                                    <td>
                                        <button form="form_{{ forloop.counter }}" type="submit" class="mdc-button">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
