{% load static %}

<section id="master" class="b-master">
    <div class="b-container">
        <div class="b-master__wrap">
            <div class="b-master__cols-wrap">
                <div class="b-master__col">
                    <div class="b-master-item"><a data-id="#popup-master-81" class="im-popup-link"> <img
                            src="{% static "img/5Stas.jpg" %}" class="b-master-item__img" title="Стас" alt="Стас">
                    </a>
                        <div class="b-master-item__desc">
                            <div class="b-master-item__inner">
                                <div class="b-master-item__top"><span
                                        class="b-master-item__name">Стас</span><br><span
                                        class="b-master-item__position">Barber</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-master__col">
                    <div class="b-master-item"><a data-id="#popup-master-79" class="im-popup-link"> <img
                            src="{% static "img/2Diana.jpg" %}" class="b-master-item__img" title="Диана"
                            alt="Диана">
                    </a>
                        <div class="b-master-item__desc">
                            <div class="b-master-item__inner">
                                <div class="b-master-item__top"><span
                                        class="b-master-item__name">Диана</span><br><span
                                        class="b-master-item__position">Barber Girl</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-master__col">
                    <div class="b-master-item"><a data-id="#popup-master-68" class="im-popup-link"> <img
                            src="{% static "img/3Sasha.jpg" %}" class="b-master-item__img" title="Саша"
                            alt="Александр"> </a>
                        <div class="b-master-item__desc">
                            <div class="b-master-item__inner">
                                <div class="b-master-item__top"><span
                                        class="b-master-item__name">Саша</span><br><span
                                        class="b-master-item__position">Barber</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-master__col">
                    <div class="b-master-item"><a data-id="#popup-master-67" class="im-popup-link"> <img
                            src="{% static "img/4Olga.jpg" %}" class="b-master-item__img" title="Ольга" alt="Ольга">
                    </a>
                        <div class="b-master-item__desc">
                            <div class="b-master-item__inner">
                                <div class="b-master-item__top"><span
                                        class="b-master-item__name">Ольга</span><br><span
                                        class="b-master-item__position">Barber Girl</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>