body {
    /*background-color: white;*/
    /*background-image: url("/static/img/bg-btm.png");*/
    /*background-image: url("/static/img/bg-l.jpg");*/
    background-image: url("/static/img/background.jpeg");
    margin: 0;
    height: 100%;
    background-size: 100%;
}

div {
    display: block;
}

h2 {
    color: white;
}

.container {
    position: relative;
    padding: 5px;
    /*padding-bottom: 60px;*/
    background-color: black;
    margin-top: 70px;
}

.main-header {
    position: relative;
    padding: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.main-header__border {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    border-width: 18px;
    border-style: solid;
    border-color: white;
}

.contacts {
    position: relative;
    z-index: 1;
    color: #ffffff;
}

@media (min-width: 700px) {
    .contacts {
        position: absolute;
        bottom: auto;
        right: 70px;
        top: 25px;
    }
}

@media (min-width: 900px) {
    .contacts {
        right: 40px;
    }
}

@media (min-width: 1200px) {
    .contacts {
        right: 50px;
        top: 40px;
    }
}

.contacts__phone {
    margin: 0;
    margin-left: -0.25em;
    padding: 0;
    padding-top: 3px;
    text-align: center;
}

@media (min-width: 700px) {
    .contacts__phone {
        margin: 0;
        padding: 0;
        text-align: right;
    }
}

.contacts__phone a {
    color: white;
    font-family: "Lora", serif;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .contacts__phone a {
        font-size: 1.35rem;
    }
}

@media (min-width: 1400px) {
    .contacts__phone a {
        font-size: 1.5rem;
    }
}

.contacts__address {
    display: none;
}

@media (min-width: 700px) {
    .contacts__address {
        display: block;
        margin: 0;
        margin-top: 5px;
        padding: 0;
        font-family: "Lora", serif;
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .contacts__address {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

@media (min-width: 1400px) {
    .contacts__address {
        font-size: 1rem;
    }
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.logo {
    position: absolute;
    z-index: 1;
    width: 160px;
    margin: 30px 120px;
}

@media (max-width: 1200px) {
    .logo {
        width: 320px;
        margin-left: 400px;
        margin-top: 90px;
        margin-bottom: 100px;
        padding: 0 80px;
    }
}

.logo__image {
    width: 100%;
}

.caption {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-width: 18px;
    border-style: solid;
    border-color: white;
    border-radius: 2.25rem;
}

@media (min-width: 700px) {
    .caption {
        width: 320px;
        margin: 10px 10px;
    }
}

@media (min-width: 1200px) {
    .caption {
        position: absolute;
        bottom: 60px;
        left: 60px;
        width: 360px;
    }
}

.caption__content {
    padding: 20px 0;
    text-align: center;
    background-color: transparent;
    color: white;
}

.caption__title {
    position: relative;
    margin: 0;
    padding: 20px 0;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .caption__title {
        font-size: 2rem;
    }
}

.caption__title::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 0;
    height: 7px;
    width: 100%;
}

@media (min-width: 1200px) {
    .caption__title::before {
        top: 70px;
        height: 8px;
    }
}

.caption__subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    position: relative;
    display: inline-block;
    padding: 17px 32px;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #2b2a29;
    border: 2px solid #2b2a29;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100%);
    width: calc(100%);
    border: 1px solid #ffffff;
}

.button_register {
    position: relative;
    display: inline-block;
    padding: 17px 32px;
    margin: 30px 95px;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #2b2a29;
    border: 2px solid #2b2a29;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button_register::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100%);
    width: calc(100%);
    border: 1px solid #ffffff;
}


.carousel slide {
    margin: 100px;
}

.navbar-right a {
    padding: 20px;
}

.caption_login {
    position: relative;
    z-index: 1;
    margin: 10px;
    border-width: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 2.25rem;
}

@media (min-width: 700px) {

    .caption_login {
        position: relative;
        width: 500px;
        height: 310px;
        margin: 10px 250px;
        position: absolute;
        border-radius: 2.25rem;
    }
}

@media (min-width: 1200px) {
    .caption_login {
        position: absolute;
        margin: 80px 380px;
        left: 60px;
        border-radius: 2.25rem;
    }
}


.form-group {
    margin: 30px -20px;
    width: 350px;
    height: 50px;
    padding-left: 120px;
}

.caption__content_login {
    padding: 20px 0;
    text-align: center;
    background-color: transparent;
}


.caption_login_register {
    position: relative;
    z-index: 1;
    margin: 10px;
    border-width: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 2.25rem;
}

@media (min-width: 700px) {

    .caption_login_register {
        position: relative;
        width: 600px;
        height: 530px;
        margin: 40px 190px;
        border-radius: 2.25rem;
    }
}

@media (min-width: 1200px) {
    .caption_login_register {
        position: absolute;
        margin: 80px 380px;
        /*bottom: 30px;*/
        left: 60px;
        border-radius: 2.25rem;
    }
}

.form-group_register {
    margin: 20px -20px;
    width: 400px;
    height: 50px;
    padding-left: 75px;
}

.li_register {
    text-align: -webkit-match-parent;
    width: 500px;
    display: flex;
    margin-left: -40px;
}

.caption {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-width: 18px;
    border-style: solid;
    border-color: white;
}

@media (min-width: 700px) {
    .caption {
        width: 320px;
        margin: 10px 10px;
    }
}

@media (min-width: 1200px) {
    .caption {
        position: absolute;
        bottom: 60px;
        left: 60px;
        width: 360px;
    }
}

.caption__content {
    padding: 20px 0;
    text-align: center;
    background-color: transparent;
    color: white;
}

.caption__title {
    position: relative;
    margin: 0;
    padding: 20px 0;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .caption__title {
        font-size: 2rem;
    }
}

.caption__title::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 0;
    height: 7px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .caption__title::before {
        top: 70px;
        height: 8px;
    }
}

.caption__subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.section__content--prices {
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 700px) {
    .prices-wrapper {
        position: relative;
        margin-top: -67px;
        padding: 10px 40px;
    }


    @media (min-width: 700px) and (min-width: 900px) {
        .prices-wrapper::before {
            width: 320px;
        }
    }

    @media (min-width: 700px) and (min-width: 1200px) {
        .prices-wrapper::before {
        }
    }

    @media (min-width: 900px) {
        .prices-wrapper {
        }
    }

    @media (min-width: 1200px) {
        .prices-wrapper {
        }


        .price-inner__column {
            position: relative;
            z-index: 2;
        }

        @media (min-width: 900px) {
            .price-inner__column {
                width: 49%;
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
            }
        }
        @media (min-width: 1200px) {
            .price-inner__column {
                padding-right: 30px;
            }
        }
        @media (min-width: 900px) {
            .price-inner__column--right {
                padding-left: 20px;
                padding-right: 0;
            }
        }
        @media (min-width: 1200px) {
            .price-inner__column--right {
                padding-left: 30px;
            }
        }


        .price-logo__image {
            width: 300px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 20px;

        }

        .prices-table {
            width: 100%;
            border-collapse: collapse;
        }

        .prices-table td {
            padding: 5px 0;
            line-height: 1.5;
        }

        .prices-table td:nth-of-type(1) {
            vertical-align: middle;
            vertical-align: bottom;
            padding-left: 0;
            padding-right: 20px;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: left;
            border-bottom: 1px dotted rgba(197, 197, 197, 0.5);
        }

        @media (min-width: 700px) {
            .prices-table td:nth-of-type(1) {
                font-size: 1rem;
            }
        }
        @media (min-width: 1200px) {
            .prices-table td:nth-of-type(1) {
                font-size: 1.125rem;
            }
        }
        .prices-table td:nth-of-type(1) small {
            color: #2b2a29;
            font-size: 1em;
            font-weight: 400;
        }

        .prices-table td:nth-of-type(2) {
            vertical-align: middle;
            vertical-align: bottom;
            color: #c21f39;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: right;
            border-bottom: 1px dotted rgba(197, 197, 197, 0.5);
        }

        @media (min-width: 700px) {
            .prices-table td:nth-of-type(2) {
                font-size: 1rem;
            }
        }
        @media (min-width: 1200px) {
            .prices-table td:nth-of-type(2) {
                font-size: 1.125rem;
            }
        }
        .prices-table td:nth-of-type(2) span {
            color: #1a1210;
            font-size: 0.8em;
        }

        .prices-table td.prices-table__desc {
            padding-bottom: 20px;
            color: #1a1210;
            font-weight: 400;
            line-height: 1.75;
            border-bottom: none;
        }

        @media (min-width: 700px) {
            .prices-table td.prices-table__desc {
                font-size: 0.875rem;
            }
        }
        .prices-table caption {
            padding-bottom: 5px;
            padding-left: 1px;
            /*padding-top: 30px;*/
            color: #005392;
            font-family: "Lora", serif;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            caption-side: top;
        }

        @media (min-width: 700px) {
            .prices-table caption {
                font-size: 1.125rem;
            }
        }
        @media (min-width: 900px) {
            .prices-table caption {
                font-size: 1.25rem;
            }
        }
        @media (min-width: 1200px) {
            .prices-table caption {
                font-size: 1.5rem;
            }
        }

        .caption {
            position: relative;
            z-index: 1;
            margin: 0 auto;
            border-width: 18px;
            border-style: solid;
            border-color: #ffffff;
        }

        @media (min-width: 700px) {
            .caption {
                width: 320px;
                margin: 0;
            }
        }
        @media (min-width: 1200px) {
            .caption {
                position: absolute;
                bottom: 60px;
                left: 60px;
                width: 360px;
            }
        }
        @media (min-width: 900px) {
            .bg-light {
                background-color: black !important;
                border-color: whitesmoke;
                border-style: double;
                border-width: 25px;
            }
        }

        @media (min-width: 1200px) {
            .bg-light {
                background-color: black !important;
                border-style: double;
                border-width: 25px;
            }
        }

        .navbar-right a {
            color: white;
        }

        .navbar-light .navbar-nav
        .show > .nav-link,
        .navbar-light
        .navbar-nav
        .active >
        .nav-link,
        .navbar-light
        .navbar-nav
        .nav-link.show,
        .navbar-light
        .navbar-nav
        .nav-link.active {
            color: white;
        }

        .navbar-light .navbar-brand {
            color: white;
        }

        .about__image {
            position: relative;
            font-size: 0;
        }

        @media (min-width: 900px) {
            .about__image {
                width: 350px;
                float: right;
            }
        }
        @media (min-width: 1200px) {
            .about__image {
                width: 450px;
                height: 600px;
                margin-bottom: 60px;
                margin-top: -70px;
                padding-right: 80px;
            }
        }

        @media (min-width: 900px) {
            .about__image--inner {
                width: 450px;
                height: 500px;
                max-width: 600px;
                max-height: 600px;
                margin-right: 160px;
            }
        }
        @media (min-width: 1200px) {
            .about__image--inner {
                margin-top: 0;
            }
        }
        .about__image img {
            width: 450px;
        }

        .about__description {
            padding-left: 50px;
            color: #2b2a29;
            font-size: 1rem;
            line-height: 1.75;
        }

        @media (min-width: 1200px) {
            .about__description {
                width: 600px;
                margin-left: 100px
            }
        }

        .about__title {
            margin: 0;
            padding: 20px 150px;
            font-family: "Lora", serif;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5;
            text-transform: uppercase;
        }

        .about__more {
            /*padding-top: -50px;*/
            padding-bottom: 20px;
            text-align: center;
            padding-left: 40%
        }

        @media (min-width: 900px) {
            .about__more {
                text-align: left;
            }
        }
    }
}


.b-master {
    background-repeat: no-repeat;
    background-size: cover;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}


.b-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
    height: 100%;
}


.b-master__wrap {
    padding: 1.875rem 0 4.3125rem;
}


.b-master__title-wrap {
    padding: 3.9375rem 0;
    text-align: center;
}


.b-master__title {
    font-size: 30px;
    font-size: 1.875rem;
    color: #f7f7f7;
    position: relative;
    padding-right: 45px;
}


.b-master__cols-wrap {
    font-size: 0;
    margin: 1.5625rem -1.25rem;
    text-align: center;
}


.b-master__col {
    font-size: 15px;
    font-size: .9375rem;
    padding: 1.25rem;
    width: 25%;
    vertical-align: top;
}


.b-about__icon-item, .b-master__col {
    display: inline-block;
}


.b-master-item {
    overflow: hidden;
    text-align: center;
    position: relative;
    background: transparent;
    border-color: black;
}


.b-btn, .b-contacts__map-link, .b-header__contacts a, .b-master-item > a, .b-menu-box__trigger, .b-menu__link, .b-news-title, .b-news__img-wrap a, .b-soc__icon_in, .b-soc__icon_in p, .b-soc__icon_in:hover p, a:hover {
    text-decoration: none;
}


.b-master-item__desc {
    height: 108px;
    background-color: transparent;
    position: relative;
}


.b-master-item__inner {
    position: absolute;
    background-color: transparent;
    padding: 0 .9375rem;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .2s ease-in-out;
    border-color: black;
    border-style: solid;
    border-width: thin;
}


.b-master-item__top {
    padding: 1.875rem 0 1.25rem;
}


.container-login {
    position: fixed;
    padding: 5px;
    background-color: transparent;
    /* margin: 100px 500px; */
    width: 400px;
    left: 30%;
    padding-top: 50px;
}

.logo__image {
    width: 100%;
}

.logo__image img {
    width: 100%;
}
