{% extends 'base/layout.html' %}
{% block title %}Services{% endblock %}
{% load static %}

{% block content %}
    <section class="section section--prices" id="prices">
        <header class="section__header">
            <h2>Мы умеем</h2>
        </header>

        <div class="section__content section__content--prices">
            <div class="prices-wrapper">
                <div class="price-inner__column">
                    <table class="prices-table">
                        <caption>Основные услуги</caption>
                        <tbody>
                        <tr>
                            <td>Стрижка мужская</td>
                            <td>45 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">подбор стрижки, 2 мытья, укладка</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Стрижка удлиненная</td>
                            <td>65 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">подбор стрижки, 2 мытья, укладка</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Стрижка машинкой</td>
                            <td>30 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">без ножниц</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Стрижка детская</td>
                            <td>35 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">от 4 до 14 лет включительно, не удлиненная</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Стрижка бороды</td>
                            <td>30 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">с распариванием и окантовкой бритвой шаветт</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Классическое бритьё</td>
                            <td>45 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td>Королевское бритьё</td>
                            <td>60 <span>p.</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="price-inner__column price-inner__column--right">
                    <table class="prices-table">
                        <caption>Комплексные услуги</caption>
                        <tbody>
                        <tr>
                            <td>Отец + сын</td>
                            <td>70 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td>Друг + друг</td>
                            <td>80 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td>Стрижка + Бритьё</td>
                            <td>80 <span>p.</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="prices-table">
                        <caption>Дополнительные услуги</caption>
                        <tbody>
                        <tr>
                            <td>Укладка волос</td>
                            <td>10 <span>p.</span></td>
                        </tr>

                        <tr>
                            <td>Коррекция воском</td>
                            <td>15 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">удаление нежелательных волос на лице</td>
                        </tr>

                        <tr>
                            <td>Камуфляж седины</td>
                            <td>35 <span>p.</span></td>
                        </tr>
                        <tr>
                            <td class="prices-table__desc" colspan="2">предварительная консультация с мастером</td>
                        </tr>

                        <tr>
                            <td>Бритьё головы</td>
                            <td>40 <span>p.</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="price-logo">
                    <div class="price-logo__image">
                        <img height="150" width="150" src="{% static 'img/logo.png' %}"
                             alt="Trueman Barberhop Logo">
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                    <a class="button ms_booking" href="{% url 'online_entry:choose_service' %}">Запись онлайн</a>
                {% else %}
                    <a class="button ms_booking" href="{% url 'website.login:index' %}">Запись онлайн</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

