{% extends 'base/layout.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="caption_login">
            <div class="caption__content_login">
                {{ form.non_field_errors }}

                {{ form.username.errors }}
                <p class="form-group_register">
{#                    {{ form.username }}#}
                    <input type="text" class="form-control" name="username" id="id_username"
                           placeholder="Логин">
                </p>

                {{ form.password.errors }}
                <p class="form-group_register">
{#                    {{ form.password }}#}
                    <input type="password" class="form-control" name="password" id="id_password" placeholder="Пароль">
                </p>

                <button type="submit" class="button">Войти</button>
            </div>
        </div>
    </form>

{% endblock %}
