{% extends 'base/layout.html' %}
{% block title %}Register{% endblock %}

{% block header %}<h1>Register</h1>{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="caption_login_register">
            <div class="form-group_register">
                {{ form.non_field_errors }}

                {{ form.username.errors }}
                <p class="form-group_register">
                    {{ form.username }}
                </p>

                {{ form.email.errors }}
                <p class="form-group_register">
                    {{ form.email }}
                </p>

                {{ form.first_name.errors }}
                <p class="form-group_register">
                    {{ form.first_name }}
                </p>

                {{ form.password1.errors }}
                <p class="form-group_register">
                    {{ form.password1 }}
                </p>

                {{ form.password2.errors }}
                <p class="form-group_register">
                    {{ form.password2 }}
                </p>

                <button class='button_register' type="submit">Зарегистрироваться</button>
            </div>
        </div>
    </form>

    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        <div class="caption_login_register">#}
    {#            <div class="caption__content_login">#}
    {#                <div class="form-group_register">#}
    {#                    <label class="register_label" for="id_username"></label>#}
    {#                    <input class="form-control_register" type="text" name="username" maxlength="50" title="Имя"#}
    {#                           placeholder="Имя*" autofocus=""#}
    {#                           required=""#}
    {#                           id="id_username">#}
    {#                </div>#}
    {#                <div class="form-group_register">#}
    {#                    <label class="register_label" for="id_email"></label>#}
    {#                    <div class="form-control_register">#}
    {#                        <input type="email" name="email" autocomplete="email" id="email_address" value=""#}
    {#                               title="Эл.почта" class="input-text"#}
    {#                               data-validate="{required:true, 'validate-email':true}"#}
    {#                               placeholder="Эл.почта*" aria-required="true">#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="form-group_register"><label class="register_label" for="id_password1"></label>#}
    {#                    <div class="form-control_register">#}
    {#                        <label class="label_register" for="id_tel"></label>#}
    {#                        <input type="tel" name="tel" maxlength="13" required="" id="id_tel"#}
    {#                               placeholder="Телефон в формате +3752911-11-11">#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="form-group_register">#}
    {#                    <label class="register_label" for="id_password1"></label>#}
    {#                    <div class="form-control_register">#}
    {##}
    {#                        <input type="password" name="password" id="password" title="Пароль" class="input-text"#}
    {#                               data-password-min-length="8" data-password-min-character-sets="2"#}
    {#                               data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off"#}
    {#                               placeholder="Пароль*" aria-autocomplete="list" aria-required="true">#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <span class="helptext">#}
    {#                    <ul>#}
    {#                        <li class="li_register">Ваш пароль должен содержать как минимум 8 символов.</li>#}
    {#                        <li class="li_register">Пароль не может состоять только из цифр.</li>#}
    {#                    </ul>#}
    {#                    </span>#}
    {##}
    {#                <div class="form-group_register">#}
    {#                    <label class="register_label" for="id_password2"></label>#}
    {#                    <div class="form-control_register">#}
    {##}
    {#    <input type="password" name="password_confirmation" title="Подтвердите пароль"#}
    {#           id="password-confirmation" class="input-text"#}
    {#           data-validate="{required:true, equalTo:'#password'}" autocomplete="off"#}
    {#           placeholder="Подтвердите пароль*" aria-required="true">#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <button class='button_register' type="submit">Зарегистрироваться</button>#}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </form>#}

{% endblock %}
